
.help {
	color:blue;
	font-family: monospace;
	font-size: smaller;
}

form {
	width: 500px;
	margin: 0 auto 0 auto;	
}

form fieldset {
	padding: 26px;
	border: 1px solid #b4b4b4;
}

form legend {
	padding: 5px 20px 5px 20px;
	color: #030303;
	border: 1px solid #b4b4b4;
}

form ol {
	list-style: none;
	margin-bottom: 20px;
	border: 1px solid #b4b4b4;
	padding: 10px;
}

form ol.buttons {
	overflow: auto;
}

form ol li label {
	float: left;
	width: 160px;
	font-weight: bold;
}


.settings {
	list-style: none;
	position: relative;
}

.settings p {
	display: block;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 1px solid #555555;
	width: 36px;
	position: relative;
	height: 15px;
}


.check { 
	display: block;
	width: 20px;
	height: 13px;
	border-radius: 8px;
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 0px;
	left: 0px;
}


